@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model Web.Models.QuestionViewModel

<tr>
    <td class="text-dark">
        <a href="/questions/view/@Model.QuestionID" class="text-primary">@Model.QuestionName</a>
        <br />
        <span class="badge badge-info">
            @if (Model.Category != null)
            {
                 <span style="color: black;">@Model.Category.CategoryName</span>
            }
            else
            {
                @:No Category
            }
        </span>
    </td>
    <td>
    <td>
            @if (Model.User == null || Model.User.Name == null)
            {
            <span>No user name</span>
            }
            else
            {
                @:by @Model.User.Name
            }
    </td>



    <td>on @Model.QuestionDateAndTime</td>
</tr>
